<header>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <aside>
    <nav class="Menu">
      <p id="menuBtn">Menu</p>
      <ul class="dropdown" id="sideBarNav">
        <li class="closeBtn">
          <button id="closeBtn">-</button>
        </li>
        <li><a id="hideLink" href="/index.php/studentRecords">Student Records</a></li>
        <li><a id="hideLink" href="/index.php/staffRecords">Staff Records</a></li>
        <li><a id="hideLink" href="/index.php/courseRecords">Courses</a></li>
        <li><a id="hideLink" href="/index.php/timetable">Timetable Management</a></li>
        <li><a id="hideLink" href="/index.php/cabinet">Cabinet</a></li>
        <li><a id="hideLink" href="/index.php/archive">Archive</a></li>
        <li><a id="hideLink" href="/index.php/chat">Staff Chat</a></li>
        <hr style="height: 4px; background-color: #f5f5f5; border: none; border-radius: 6px;">
        <li><a id="hideLink" href="/index.php/adminEnrolment">Admin Enrolment</a></li>
        <li><a id="hideLink" href="/index.php/adminGrade">Admin Grade Approval</a></li>
      </ul>
    </nav>
  </aside>
  <div class="Logo">
    <a id="hideLink" href="/index.php/home"><img src="/images/Logo-removebg-preview.png" alt="Logo"></a>
  </div>
</header>
