<header>
    <div class="Logo">
        <a href="/index.php/home"><img src="/images/Logo-removebg-preview.png" alt="Logo"></a>
    </div>

    <div id="Menu">
        <li class="dropdown"><a id="hideLink" href="/index.php/study">Study</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/index.php/subjects">Subjects</a></li>
            </ul>
        </li>

        <li class="dropdown"><a id="hideLink" href="/index.php/atWoodlands">At Woodland's</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/index.php/studentLife">Student Life</a></li>
                <li><a id="hideLink" href="/index.php/accommodation">Accomodation</a></li>
                <li><a id="hideLink" href="/index.php/support">Support</a></li>
                <li><a id="hideLink" href="/index.php/studentUnion">Student Union</a></li>
                <li><a id="hideLink" href="/index.php/openDays">Open Days</a></li>
            </ul>
        </li>

        <li class="dropdown"><a id="hideLink" href="/index.php/aboutWoodlands">About Woodland's</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/index.php/news">News</a></li>
                <li><a id="hideLink" href="/index.php/awards">Awards</a></li>
                <li><a id="hideLink" href="/index.php/services">Services</a></li>
                <li><a id="hideLink" href="/index.php/research">Research</a></li>
            </ul>
        </li>

        <li><a id="hideLink" href="/index.php/contact">Contact</a></li>
    </div>

    <div class="Login">
        <p><a id="hideLink" href="/index.php/login">Login</a></p>
    </div>
</header>
