<header>
    <div class="Logo">
        <a href="/home"><img src="/images/Logo-removebg-preview.png" alt="Logo"></a>
    </div>

    <div id="Menu">
        <li class="dropdown"><a id="hideLink" href="/study">Study</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/subjects">Subjects</a></li>
            </ul>
        </li>

        <li class="dropdown"><a id="hideLink" href="/atWoodlands">At Woodland's</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/studentLife">Student Life</a></li>
                <li><a id="hideLink" href="/accommodation">Accomodation</a></li>
                <li><a id="hideLink" href="/support">Support</a></li>
                <li><a id="hideLink" href="/studentUnion">Student Union</a></li>
                <li><a id="hideLink" href="/openDays">Open Days</a></li>
            </ul>
        </li>

        <li class="dropdown"><a id="hideLink" href="/aboutWoodlands">About Woodland's</a>
            <ul class="dropdown-content">
                <li><a id="hideLink" href="/news">News</a></li>
                <li><a id="hideLink" href="/awards">Awards</a></li>
                <li><a id="hideLink" href="/services">Services</a></li>
                <li><a id="hideLink" href="/research">Research</a></li>
            </ul>
        </li>

        <li><a id="hideLink" href="/contact">Contact</a></li>
    </div>

    <div class="Login">
        <?php if (isset($_SESSION['user_name'])): ?>
          <p style="font-size:13px;"><?= htmlspecialchars($_SESSION['user_name'], ENT_QUOTES, 'UTF-8') ?></p>
          <p><a id="hideLink" href="/logout">Logout</a></p>
        <?php else: ?>
          <p><a id="hideLink" href="/login">Login</a></p>
        <?php endif; ?>
    </div>
</header>
